[2015-10-10 07:41] spam8117 opened #1 "Headless browser request"
Hey!
Great idea, thanks for doing this :-)
I don't know where to put requests so I'm posting it here:

An essential option would be a minPoints value in order to not get trades with e.g. 20 points.
2nd request is support for headless browser so you could run this technically from a Linux shell without GUI (e.g. Raspberry Pi).

Thanks & Regards

[2015-10-10 14:09] tomreece commented on #1
To avoid low point trades, I don't even keep cards on my have list that are less than 100 points.

Regarding your second question, I'll look in to it. The great thing about open source software is that you could modify the source and do that! :)

It should be as easy as downloading PhantomJS (http://phantomjs.org/) on your machine and changing the line in the source that says `driver = webdriver.F

[2015-10-12 04:17] tomreece commented on #1
I added an Advanced Usage section to the README which explains how to run pucauto on a Linux server like an AWS, Rackspace, or Linode instance. https://github.com/tomreece/pucauto#advanced-usage

I'm not sure if it would work on a Raspberry Pi in this style or not. Do you want to try it out? If it doesn't work, please reopen a new issue. Closing this one for now.

PS: I moved your minPoints reques

[2015-10-12 04:19] tomreece opened #3 "Add a configuration option for min points"
This would prevent accepting trades for less than a dollar for example.

Note: I personally solve this by not even having cards worth less than a dollar on my Haves list.

[2015-10-12 04:22] #1 closed

[2015-10-12 04:26] tomreece opened #4 "Combine low value trades to the same user"
If a single user wants multiple low value cards, accept all of those trades if they exceed a configured threshold.

This would allow you to have low value cards on your Haves list but rest easy knowing that you're sending multiple cards to a single person instead of a 10 cent card with a 50 cent stamp.

Possible problems:

1. What if someone else accepts some of the trades before we have a chance

[2015-10-12 05:31] tomreece opened #5 "Allow Facebook login"
Allow an extra flag to be passed in when running the script that will log the user in via Facebook instead of normal. The user will have to provide their Facebook username and password when using this new startup flag, then Pucauto would just click a different button and perhaps have to interact with a new popup window. That may be challenging.

[2015-10-13 02:35] Alchus commented on #4
In abstract, we might be able to avoid committing to an unacceptable portion of a bundle by clicking all of the Send Card buttons at once, then waiting to see how many of them open the confirmation dialog, which reserves the card for 60 seconds. If enough of them succeed that it's still worth sending the bundle, we'd confirm all the trades.

In practice, it might work to have Selenium open several

[2015-10-21 22:31] tomreece commented on #4
This was requested by Jared T.

[2015-10-23 03:32] tomreece commented on #3
Done in #6

[2015-10-23 03:32] #3 closed

[2015-10-23 05:36] tomreece opened #7 "Turn config.json into config.example.json"
Turn config.json into config.example.json and remove config.json from the repo. Then config.json to the .gitignore so that folks don't accidentally commit their credentials.

[2015-10-23 05:37] tomreece opened #8 "Use page objects"
A few simple page objects would be a nice abstraction. J suggested state objects, look more into that idea too.

[2015-10-29 01:06] tomreece opened #9 "Record a video of the bot running for website"

[2015-11-01 19:06] tomreece opened #10 "Add details about benefits of hosted solution to site"
* The user doesn’t have to manually set up anything. Since Pucauto is written in Python, it’s not quite as simple as “double click this to run”.
* The user doesn’t have to leave their computer running 24/7.
* The user doesn’t have to maintain anything. I’m using a library called Selenium which drives a Firefox browser. Eventually after many hours of running, Firefox and Selenium use lots of memory

[2015-11-02 00:40] tomreece commented on #10
Done.

[2015-11-02 00:40] #10 closed

[2015-11-19 08:35] tomreece opened #11 "Look for new trades to add-on to unshipped existing trades"
Compare the Send Cards list with the Sending list to determine if a new card can be accepted. This makes sense regardless of the value of the new card I think.

[2015-11-23 03:05] tomreece commented on #4
Merged in #12. Released in v0.3.0

[2015-11-23 03:05] #4 closed

[2015-11-23 03:06] tomreece commented on #9
Added in 41885ea8b7a1d9f0f809e453f698d0d22ac4f1cb

[2015-11-23 03:06] #9 closed

[2015-11-23 03:09] tomreece opened #13 "Start a MailChimp mailing list"
A mailing list would be a great way to communicate new features to users.

[2015-11-23 03:44] tomreece opened #14 "Fix buttons on Run It Yourself page [mobile]"
On the Run It Yourself page, the buttons wrap and look weird on mobile devices.

[2015-11-23 16:45] akeeton opened #15 "Unable to find "label.niceToggle" in turn_on_auto_matching()"
Restarting pucauto fixed this.
[code]

[2015-11-23 16:48] akeeton opened #16 "Crash in filter_trades_dict()"
[code]

[2015-11-23 19:02] XVicarious commented on #16
If you're using Python 3, it no longer has "iteritems" for the dict type.  You have to use Python 2.

[2015-11-23 19:07] XVicarious commented on #16
EDIT 2:  Got it.
`trades.iteritems()`
into
`trades.items()`
there is also another instance of this that needs to be changed on line 191.

EDIT: not quite, just tested it and it didn't work.  Trying something else quickly however.

~~Additionally, to make it work on Python 3 the following should work in theory:
Change
`trades.iteritems()`
into
`trades.items().iter()`~~

[2015-11-23 19:27] spam8117 opened #18 "Crash right after "Finding trades...""
Hello Tom,
I tried Pucauto today, installed everything as told and also installed Firefox (didn't have it before).
Now Pucauto starts, then this happens:

Logging in...
Turning on auto matching...
Sorting by member...
Finding trades...
Traceback (most recent call last):
  File "pucauto.py", line 239, in <module>
    main()
  File "pucauto.py", line 236, in main
    find_trades()
  File "pucauto.py

[2015-11-23 19:36] XVicarious commented on #18
Use Python 2.  Duplicate of #16

[2015-11-23 19:42] spam8117 commented on #18
Thank you, now it doesn't crash anymore. But it goes ~30 seconds between each site refresh.
Is this working as intended or should it refresh faster (I read something about ~5 seconds).

[2015-11-23 21:00] XVicarious commented on #18
I'm not the developer, so I'm not sure.  I read through the script and there doesn't seem to be a reason it refreshes every ~30 seconds.  I see about 6 seconds of waits.  Could it be your connection?

[2015-11-23 21:18] spam8117 commented on #18
Let's wait for the developer then :) connection should be fine (around 76 Mbps), maybe it has something to do with the length of the list and/or minimum points value (waiting for all the calculations, I don't know...). I have set a minimum points value of 200.

[2015-11-23 21:23] tomreece commented on #15
This usually happens when users forget to fill in, or have a typo in, their `config.json` file. Pucauto isn't successfully logging in and thus can't continue any further.

The error message could be a bit more friendly for sure. :) I'll add better error messages, but let me know if you continue to experience this problem.

[2015-11-23 21:28] tomreece commented on #18
If your Send Cards list is huge, it will take time to parse it all. I didn't realize how many trades some people have on their Haves list. During testing, my Send Cards page only has about 100 to 200 rows. I will work on optimizing this. Thanks for reporting.

[2015-11-23 21:29] tomreece commented on #18
@spam8117 Can you file a new issue about performance and close this one since your original issue was resolved by switching to Python 2? Include details about how many cards are on your Haves list. That will help.

[2015-11-24 01:43] tomreece opened #21 "Update site/readme references to 5 seconds"
Now that Pucauto does bundling, it takes quite a bit longer to parse large trade pages with many rows. 5 seconds is no longer accurate. It was much faster to just sort by value and grab the first row in the table.

[2015-11-24 01:45] tomreece commented on #18
@spam8117 Pucauto used to work much faster when it only accepted one trade at a time because all it had to do was grab the first row in the table on the Send Cards page. Now it has to scroll to the bottom to load everything (due to PucaTrade's implementation), iterate through every row, build a data structure and then accept trades. It's a tradeoff between bundling and speed.

Anyway, I'm going to

[2015-11-24 01:45] #18 closed

[2015-11-24 01:47] tomreece commented on #16
Closing this. Thanks @XVicarious for helping out. I'll get PR #19 merged in soon so that folks can use Python 2 or 3. I'll continue a conversation with you there.

[2015-11-24 01:47] #16 closed

[2015-11-24 01:48] #15 closed

[2015-11-24 17:19] akeeton opened #23 "Show trade preview before committing cards to trade"
For example, I ran pucauto and it committed a card that wasn't NM.  It would be nice to be able to double-check my cards before committing.

[2015-11-24 20:33] twilightwolf90 commented on #23
I would argue that, that is not the design of the bot.  It is designed to automatically accept trades. You aren't supposed to have non-NM cards on your list anyway because Pucatrade doesn't support it (yet!).  You might want to look at helper scripts like PucaPower instead of Pucauto.

For everyone else, I propose closing this issue with no changes.  Unless there is some way to show a preview and

[2015-11-24 20:48] akeeton commented on #23
I should mention that the card _was_ NM but I bungled it and made it not NM after it was committed.

[2015-11-25 01:45] tomreece opened #24 "Use beautifulsoup for document parsing because selenium is too slow"

[2015-11-25 02:25] tomreece commented on #23
I can't do much about these situations. Be more careful. :)

[2015-11-25 02:25] #23 closed

[2015-11-25 02:34] tomreece opened #25 "Make site easier to maintain"
Having to update the direct download link on the `you.html` page is crazy. Just link to master download.

[2015-11-25 02:35] tomreece opened #26 "Make README easier to maintain"
Linking directly to specific versions is too much effort, just link to master. Look for other opportunities to clean up README as well.

[2015-11-25 02:36] tomreece commented on #24
Working on this in the `soup` branch. Currently testing it on 3 user's cloud instances. So far so good.

[2015-11-25 04:21] tomreece commented on #26
Fixed in #27

[2015-11-25 04:21] #26 closed

[2015-11-25 04:21] tomreece commented on #25
Fixed in #27

[2015-11-25 04:21] #25 closed

[2015-11-25 04:21] tomreece commented on #24
Fixed in #27

[2015-11-25 04:21] #24 closed

[2015-11-25 04:22] tomreece commented on #14
Fixed in #27

[2015-11-25 04:22] #14 closed

[2015-11-25 04:44] tomreece opened #28 "Critical: Sometimes accepting trades for more copies of a card than actually owned"
~~It's inevitable that sometimes other users will beat Pucauto to accepting a trade. I try to minimize this as best I can.~~

~~At the moment, the bot will sometimes output: "Sent Radiant Flames for 220 PucaPoints!" when actually another use beat us to it.~~

~~Prevent this output if someone beats us to a trade.~~

[2015-11-25 05:55] tomreece commented on #7
Fixed.

[2015-11-25 05:55] #7 closed

[2015-11-25 13:52] tomreece commented on #21
Fixed in 8bc04c4e896c5a2e9126b05d74b49bfc574b6865 and 965134a5920da3528e30fbdd0c09e295daa58c90

[2015-11-25 13:52] #21 closed

[2015-11-26 03:40] tomreece opened #30 "Make easier to run for Windows users"
@droogans How do Windows users typically install dependencies that us Mac users would install with pip? I want them to be able to use my `requirements.txt` file not have to manually go grab every dependency I keep adding. I'm about to merge a PR that adds Six to the project. Thoughts?

[2015-11-26 03:52] Droogans commented on #30
Don't add six -- just write it all in Python 3.

What dependency do you have that doesn't allow you to use Python 3?

[2015-11-26 04:00] Droogans commented on #30
[Selenium supports 3.3](https://pypi.python.org/pypi/selenium)
[BeautifulSoup](http://www.crummy.com/software/BeautifulSoup/) just says "Python 3"

Other than that, you have no other dependencies. I think you shouldn't use six when you can just do it in Python 3.

[2015-11-27 04:29] tomreece commented on #30
I use Python 2 myself and would like to support both versions or only Python 2. :stuck_out_tongue:

[2015-11-28 01:09] tomreece commented on #28
I was wrong about the original cause of this issue. Turns out in some circumstances, Pucauto can accept more copies of a card than the user actually has.

This is very bad and needs fixed immediately.

[2015-11-28 01:40] #28 closed

[2015-11-28 06:07] tomreece opened #32 "Dive: Consider bundling, loose vs strict"
Given you have your min_value set to 100, when a user wants two cards on your Haves list: Foo worth 78 points, and Bar worth 55 points, but that user only has 102 points total and thus cannot receive both cards.

How would you expect Pucauto to behave?

Currently, Pucauto will recognize that 78 + 55 is >= 100 and that the user has >= 100 points and accept the 78 point card first since it's the hig

[2015-11-28 06:56] XVicarious commented on #30
It is possible to distribute a binary compiled with py2exe or pyinstaller.  However that would require actually building it.

Also, does pip not come with python?  According to this: http://pip.readthedocs.org/en/stable/installing/ it has since 2.7.9, and 3.4.  So unless you're running an older vesion of Python you should be set.  You just have to run it as so

[code]

I'm working on confirming th

[2015-11-28 07:15] tomreece commented on #32
Feedback:

[2015-11-28 15:29] tomreece commented on #30
@XVicarious Great information. Would you be willing to tweak the Windows installation instructions in `README.md`? I don't have a Windows box or vm at the moment to test in.

[2015-11-28 16:56] Droogans commented on #11
I don't understand this feature. Can you explain it from beginning to end, with examples/data?

[2015-11-28 17:35] tomreece opened #33 "Split pucauto.py into two files"
One file for Selenium interaction.
Another file for bundling logic.

[2015-11-28 17:35] tomreece opened #34 "Add unit tests for bundling logic file"
Depends on #33 being done first

Afterwards, the bundling logic should be pretty easy to write unit tests for.

[2015-11-28 18:35] tomreece commented on #11
@Droogans

Given Pucauto has already committed to send some cards to user Foo according to bundling logic,
And those cards have not been marked as shipped by Me yet,
When Pucauto later sees that user Foo wants more cards that I have,
Then Pucauto might as well commit to send those cards too, regardless of their value.

Why weren't they part of the original bundle? Because perhaps the world state c

[2015-11-29 04:24] XVicarious commented on #30
Sure, I'll try to do it before I go to work tomorrow.

[2015-11-29 05:39] tomreece commented on #30
No rush, thanks!

[2015-11-30 04:29] tomreece commented on #32
More feedback:

[2015-11-30 06:18] tomreece commented on #11
Implemented in #35

[2015-11-30 06:18] #11 closed

[2015-12-01 03:37] tomreece opened #36 "Optimize scrolling the trades page by checking Member Points"
Idea submitted by a user:

Sort the trades page by Member Points and scroll down just far enough until you reach a member with points less than `min_value`. If their points are < `min_value` we won't make a trade to them anyway. This could speed up the loading step.

Try it out and monitor performance gains first.

[2015-12-01 08:01] tomreece commented on #36
I played around with something like this tonight on a large trade list and the performance gains were incredible. So much time was wasted loading traders with low point values. 5 seconds to reach a bottom of 97 points, which is above my min of 150. 40 seconds to reach a bottom of 15 points. 35 seconds of wasted time eliminated because I'm not going to be trading with those low point members anyway

[2015-12-02 00:36] tomreece opened #37 "Windows users experiencing a crash when getting card_href in build_trades_dict()"
Not sure what's going on here. Investigate.

Reported by 2 users so far: Dominick and Tyler

Todo: Follow up with them when I'm able to reproduce and have a fix.

[2015-12-02 05:00] tomreece commented on #37
I cannot reproduce this. I tried on a Windows Server 2012 virtual machine.

[code]

[2015-12-02 05:00] tomreece commented on #37
Please comment here if you're experiencing this issue. Let me know what version of Windows, Python, Firefox, any details you know. Thanks.

[2015-12-02 05:01] tomreece commented on #30
Done in b2063247b9b48bb58736d67ba9731b422f9da298

[2015-12-02 05:01] #30 closed

[2015-12-02 05:35] tomreece commented on #36
Something to consider: Should I do this for add on searching too or will we potentially be missing out on users to add on to?

[2015-12-02 05:35] tomreece opened #38 "Limit docstrings to 80 line length for readability"

[2015-12-02 06:41] #38 closed

[2015-12-02 16:34] isutrumpet commented on #37
EDIT:  It appears to be working now upon downloading the latest .4 code.

I have had the same issue across 2 different systems (1 physical, 1 virtual) running the same versions of the software:

Windows 7
Python 3.5
Firefox 42

[2015-12-02 19:00] ChiefD425 opened #39 "Incorrect Card Bundle"
I had an issue today where the same username caused an incorrect bundle to be generated.

<img width="766" alt="screen shot 2015-12-02 at 12 58 12 pm" src="https://cloud.githubusercontent.com/assets/15125708/11540827/8fe79ef2-98f4-11e5-8288-aec13700d04f.png">

<img width="332" alt="screen shot 2015-12-02 at 12 53 49 pm" src="https://cloud.githubusercontent.com/assets/15125708/11540684/dd2adfd6-98f

[2015-12-02 22:46] tomreece commented on #37
@isutrumpet So it's working now for you?

When I tried to reproduce it I was on Windows Server 2012 R2, which I think is like Windows 8, Python 2.7.10, and Firefox 42.

[2015-12-02 22:48] tomreece commented on #39
Oh! That's a good find. I'll fix that. Each user has a unique ID which I should have been using instead of their display name. My mistake, will fix and close this issue when fixed so you'll know. :)

[2015-12-02 22:52] isutrumpet commented on #37
It's generally working, though I have been getting some odd buffer errors after sustained runs.  If they persist, I will provide the details.  Do you recommend Python 2.7.10 for this code?

[2015-12-03 00:59] tomreece commented on #37
I use and primarily test against Python 2 so you'd probably have much better luck. I try to be Python 3 compatible but since I don't usually test specifically against it, I find bugs after the fact unfortunately. After long running, eventually Firefox and Selenium eat up more and more memory. Selenium is not the most efficient tool in the world, but it's our only option to bot against PucaTrade si

[2015-12-03 01:42] #39 closed

[2015-12-03 01:43] tomreece commented on #39
@ChiefD425 Fixed this in master. Haven't drafted a new release for it yet, will hold off on that. But if you want the fixed version now just download https://github.com/tomreece/pucauto/archive/master.zip or `git pull` if you're doing it the git way.

[2015-12-03 04:53] tomreece opened #40 "Add a phone-home call at startup to gain insight into usage"
POST to a Heroku app I setup.

Just send a poke to the server, no information about the user obviously.

This will just be nice to see, oh cool 20 people started Pucauto today.

[2015-12-03 22:21] isutrumpet commented on #36
The risk when building the dictionary of missing add-ons but drastically increasing performance is probably worth it to any user with a large send list.  If there is a way to split the functionality (maybe only do a "full add-on check" every 30 minutes or so?) that would be ideal.  Getting down the trade search time is extremely important when scrolling down is taking too long, however.

[2015-12-03 22:24] isutrumpet commented on #37
This might be worth a new issue thread itself, but here is a consistent error I get in a VM I am running:

File "C:\Python27\lib\socket.py", line 575, in create_connection
    raise err
socket.error: [Errno 10055] An operation on a socket could not be performed because the system lacked sufficient buffer space or because a queue was full"

Windows 7 (4GB RAM allocated, if that matters)
python-2.7.

[2015-12-04 00:37] tomreece commented on #36
@isutrumpet good point and idea. Search for addons less frequently. I can make this stuff configurable but I hate software that is TOO configurable so I'm trying to strike a balance between what needs to be configured and what I think is best. I will implement something here soon.

[2015-12-04 00:37] tomreece commented on #37
@isutrumpet yeah that's deep in a library, can you make a new issue for this?

[2015-12-04 04:41] tomreece commented on #36
Fixed in #41.

@isutrumpet I also added configuration to check for add ons every x minutes that you can set in the config.json, check out the patch notes here: https://github.com/tomreece/pucauto/releases/tag/v0.4.1

[2015-12-04 04:42] #36 closed

[2015-12-04 04:43] tomreece commented on #37
@isutrumpet Are you still getting the original issue mentioned here in v0.4.1 of Pucauto? Check at your convenience and let me know.

[2015-12-05 20:00] tomreece commented on #13
Done. Signup form added to index.html in 3b767233f63421fa35caeb276c60b7643595e803

[2015-12-05 20:00] #13 closed

[2015-12-05 21:19] tomreece commented on #37
Can any Windows users confirm/deny this is happening to them please? Otherwise I'm going to close it in a week or two.

[2015-12-05 22:52] tomreece opened #42 "Time stamp trade log messages"
Idea by Tyler P.

[2015-12-05 22:54] tomreece opened #43 "Log all trades in a file"
Idea by Tyler P.

Ideas:

* Bundles success and failure
* Add on trades success and failure
* Timestamps
* Name the file `trades.log`

[2015-12-05 23:59] tomreece opened #44 "Add ability to blacklist users"
Suggested by Dominick.

[2015-12-06 16:09] tomreece opened #45 "Rarely sending multiples of a card to the same user even if I only have 1 copy"
Reported by Dominick:

[2015-12-06 16:10] tomreece commented on #45
I briefly investigated this and nothing stood out that would cause this behavior. Will require a deeper dive.

[2015-12-06 16:16] tomreece opened #46 "Set different min_value's for different countries"
Suggested by 3-ish people so far:

[2015-12-07 03:24] tomreece commented on #37
Cannot reproduce and a few Windows users I contact frequently have reported no issues here. Closing this.

[2015-12-07 03:24] #37 closed

[2015-12-07 05:14] tomreece commented on #32
What if an "optimal bundle" was chosen which may not be the highest valued bundle, but through some formula of card count, member points, and bundle value, an optimal bundle was chosen. That'd be cool!

[2015-12-07 06:10] tomreece commented on #5
Does anyone actually want this? No one has asked for it.

[2015-12-08 05:22] tomreece commented on #43
This will be easy if @Droogans ever gets #29 merged. ;)

[2015-12-08 19:54] tomreece opened #48 "Need to explicitly wait after searching for "unshipped" for add ons"
Currently, some add ons trades may be made to users that we've actually already shipped to. This is because we need an explicit wait after searching for "unshipped" for the table to update. It takes a while to filter itself down.

[2015-12-09 01:51] tomreece commented on #48
Fixed in 8cc2c807f7cee85ddd6df3c7a91b55c9214daa47

[2015-12-09 01:51] #48 closed

[2015-12-09 02:01] tomreece commented on #42
`%I:%M:%S`

[2015-12-09 20:53] eengstrom opened #49 "add-ons can and probably should be checked every refresh"
The current method of checking for add-ons does so infrequently (depending upon config).  It should be easy to track existing unshipped traders and ship additional cards to them every time we refresh the trades page and search for new bundles.

[2015-12-09 20:54] eengstrom commented on #49
I have a partial solution that I hacked together this afternoon.  Will test and then send you a pull-request.

[2015-12-10 00:55] tomreece commented on #49
@eengstrom Cool. I'm anxious to see what you come up with! In the current implementation, you can remove the `"minutes_between_add_ons_check"` key altogether from config and it will check for add-ons every cycle. So like: check for addons, check for bundles, check for addons, check for bundles, etc.

I'm assuming you have a plan where these are combined by keeping track of things in a dict or some

[2015-12-10 00:58] tomreece commented on #45
New info from Dominick:

I too have seen a situation where I added a Polluted Delta to my Haves list, checked my Trades page to see that a lot of people wanted it, then just removed the Polluted Delta from my Haves list and my Trades page continued to show people wanting Polluted Delta's for like 3 to 5 minutes.

PucaTrade must be doing some caching on their end, which kind of sucks but I can unde

[2015-12-10 01:51] tomreece commented on #45
I sent the following email to admin@pucatrade.com

[2015-12-10 01:51] tomreece commented on #45
Closing this issue since there is really nothing I can do about it on Pucauto's end.

[2015-12-10 02:52] eengstrom commented on #32
I agree with earlier comments:  trades should only be made if the `min_value` is less than **both**:
- the user's available points, and
- the total value of the cards to be "claimed".

As for the last comment made - a more optimal solution - that's a LP problem and while feasible, probably not worth it.  Simply claiming from the most-valuable down is probably good enough.

[2015-12-10 02:53] eengstrom commented on #49
Running live tests now.  I think I've got it right, though you may not like the volume of changes I made.  If you want, I can generate a pull request from my `always_addon` branch now, but I was going to wait until I felt it was stable.

[2015-12-10 03:54] tomreece commented on #32
@eengstrom The complicated thing is:

`min_value` is 150
Recipient has 152 points
Bundling logic discovered Recipient wants cards with values [90, 80, 80, 75]

If I just check `recipient_points >= min_value and bundle_value >= min_value`, then this trade will be attempted. But after the 90 point card is accepted, the user doesn't have enough points to accept anything else. So we have missed our `m

[2015-12-10 03:57] tomreece commented on #49
I'll leave it up to your discretion. I'd definitely appreciate that if you're going to submit a pull request, you thoroughly test it. At the moment I don't have unit tests or anything to help with this so all of my testing is done in the real world so I'm quite cautious about changes.

Whenever you feel it is stable and solves the problem you set out to solve, feel free to submit a PR and I'll rev

[2015-12-10 04:01] tomreece commented on #49
@eengstrom PS: I'm about to merge my PR which has a few changes throughout the file, this will likely cause a merge conflict for you. Hopefully it's not too bad!

[2015-12-10 04:06] tomreece commented on #43
In 2fedc5024d44570cd31fdf059cfa35f327f041f9, logging now happens in a file called `debug.log`

[2015-12-10 04:06] #43 closed

[2015-12-10 04:07] tomreece commented on #42
Logging with time stamps now happens in a file called `debug.log`

2fedc5024d44570cd31fdf059cfa35f327f041f9

[2015-12-10 04:07] #42 closed

[2015-12-10 14:52] eengstrom commented on #49
@tomreece -- I was able to merge your changes in without much difficulty, as I was already using your refactor branch.  I then left it run overnight and got some examples of both new and add-on trades.  So, I think this is ready for review.  I'll generate a pull-request in just a moment.

The output from both new and add-on trades is unified and looks like this:

[code]

There are **new** `config.

[2015-12-10 17:38] isutrumpet opened #51 "Auto-match Set Failure"
I just started up v0.4.2 in the background, and noticed after about 15 minutes that the auto-match was off, and the bot had sent several cards (e.g., expeditions) that I unfortunately do not own.  Not sure if there was a code change that would cause this, but it might be worth adding some sort of secondary check to ensure auto-match is functioning properly.  I managed to cancel the trades, but thi

[2015-12-11 00:18] tomreece commented on #51
I think I know what causes this and fortunately it's pretty rare. I'll make a code change soon!

Can you send me your debug.log file? Or debug.log.1, debug.log.2, etc if you have those yet?

[2015-12-11 00:33] tomreece commented on #49
Awesome! Thanks for your contribution. I won't be able to look it over thoroughly until tomorrow or this weekend, but expect some feedback soon.

Loading the full trade list sucks for users with large collections. That's what motivated me to introduce a solution that only checks for addons every so often in the first place, because normal bundle checking can get by by only scrolling down a few tim

[2015-12-11 17:15] isutrumpet commented on #51
Hi Tom - here is the file for the instance that failed to auto-match.

Thanks!

On Thu, Dec 10, 2015 at 6:18 PM, Tom Reece notifications@github.com wrote:

##

Grant

[2015-12-11 22:12] tomreece commented on #51
@isutrumpet I don't see any attachment. Am I crazy?

[2015-12-12 06:44] tomreece commented on #51
This happens rarely, but is critically bad when it does happen. I think I can simply resolve it with an explicit wait after clicking the Auto Match toggle.

If your VM isn't headless, at the very least watch Pucauto run for the first 30 seconds or so of startup so you can see Auto Matching turn on. Once it's on, it should be safe and will never be turned off in any way that I can imagine.

[2015-12-12 06:51] tomreece opened #53 "Windows log file rollover error"
![newerror](https://cloud.githubusercontent.com/assets/2057871/11760699/8767bf50-a06a-11e5-8e30-cf7059075478.PNG)

Reported by Dominick

[2015-12-12 06:52] tomreece commented on #53
Trying to reproduce this now on my Windows VM. Has anyone else seen it?

[2015-12-12 07:05] tomreece commented on #53
@Droogans I'm able to reproduce this on my Windows VM by just setting the maxBytes to something small, running Pucauto. When it tries to rotate the log, it fails with the above error. Pretty silly. It's like RotatingFileHandler doesn't work on Windows or something. Not sure what to do other than not rotate, or rip out logging.

[2015-12-12 18:50] spam8117 opened #54 "Headless version of Pucauto"
Hello Tom, I don't know where your readme about running Pucauto on a Linux/Headless browser machine went, so I am asking here :) could you re-upload it maybe? I'd love to try it out sometime on my server.
Here are the installed scripts and programs:
https://whatbox.ca/wiki#installed_programs_and_scripts

Thank you :)

[2015-12-12 21:44] tomreece commented on #54
@spam8117 I moved it out of the README and into a Wiki page found here: https://github.com/tomreece/pucauto/wiki/Cloud-Server-Setup

This explains how I set up the server I run Pucauto on.

[2015-12-12 21:45] tomreece commented on #54
I hope that link helps you. If you need specific help getting it running in your particular environment, let me know in this issue or via email and I'd be glad to help more specifically. :)

[2015-12-12 22:04] spam8117 commented on #54
Thank you Tom, I will try it out soon :)

[2015-12-12 22:04] #54 closed

[2015-12-12 22:16] #51 closed

[2015-12-12 22:34] tomreece commented on #54
You're welcome!

[2015-12-12 22:59] tomreece commented on #53
Temporarily removed logger in #55

[2015-12-14 15:26] twilightwolf90 opened #56 "Crash when searching for add ons and there are no outgoing trades"
It appears that when there are no outgoing trades, the bot crashes because the table you are looking for doesn't exist. Line 151 in pucauto.py should have error-check logic (either if-exists or try-catch) to avoid this.  This is in the current branch.  Crash occurred on Debian 8 Jessie.
[code]

[2015-12-14 20:08] tomreece commented on #56
Great catch. I missed this because I always have outgoing cards. You should submit a pull request to fix this! The more contributors the better! If you don't want to, let me know so I can fix it. Just wanted to give you a chance to do so. :smile:

[2015-12-14 20:09] twilightwolf90 commented on #56
Sorry. I can't fix anything this week.  Finals week.

[2015-12-18 04:11] tomreece commented on #53
@Droogans Seeking advice. It seems the RotatingFileHandler just doesn't work in Windows. If I'm wrong about that, please let me know. The logging was cool enough, but not worth the pain and extra code yet in my opinion.

[2015-12-18 04:12] tomreece commented on #46
Add a +1 here if you want this.

[2015-12-18 04:13] tomreece commented on #53
Downgraded to "common" priority because I temporary fixed the crash and logging isn't super important to me at the moment until @Droogans changes my mind.

[2015-12-18 04:14] tomreece commented on #44
Please add a comment and +1 this or contact me in some way if you want this feature, otherwise it's going to stay "common" priority (aka low).

[2015-12-18 04:16] tomreece commented on #5
Add a comment or contact me in some way if you want this feature. Otherwise it's on the chopping black for removal because no one has asked for it.

[2015-12-18 06:12] tomreece opened #58 "Investigate turning Pucauto into a Chrome/Firefox extension"
This would be cool and easier for users. I wonder if it can be done?

[2015-12-18 15:35] Wizard37 commented on #44
I prefer just using the site's blocking features as a way to mitigate this.

[2015-12-19 02:24] eengstrom commented on #5
-1 ;-)

[2015-12-19 07:15] tomreece commented on #44
I agree @Wizard37. Closing this issue.

[2015-12-19 07:15] #44 closed

[2015-12-19 07:15] tomreece commented on #5
If someone actually wants this. They can open another issue. Until then. Bye bye!

[2015-12-19 07:15] #5 closed

[2015-12-19 23:57] tomreece opened #60 "Every n minutes, output average bundle value's being found"
Obviously a bundle will not be found on every iteration of Pucauto's run cycle. Hell, hours may go by before a bundle that meets the `min_value` is found.

However if every n minutes (maybe 15? 30? configurable?) Pucauto were to output the max and average bundle values it's seen over the past n minutes, that could be useful for users to tweak their `min_value` config setting.

[2015-12-23 23:36] tomreece opened #62 "Remove the "Let Us Run It For You" page"

[2015-12-23 23:37] tomreece opened #63 "Improve the "Run It Yourself" page"
Most of the information is in this repo, so I just linked to GitHub, but maybe it'd be good to add some of the details from the README to this page.

[2015-12-24 04:20] tomreece commented on #53
Removed the logger completely for now. Will revisit this issue in the future.

[2015-12-24 04:20] #53 closed

[2015-12-24 04:21] tomreece commented on #40
Meh, not worth the effort. I'll just go on faith that I have at least 1 other user. :smile:

[2015-12-24 04:21] #40 closed

[2015-12-24 19:24] tomreece opened #64 "Investigate re-using the same Firefox profile between launches"
Great suggestions from Jared:

[2015-12-24 19:41] tomreece opened #65 "Add comments to config.example.json using commentjson library"
This library https://commentjson.readthedocs.org/en/latest/ will let us write comments like:

[code]

@eengstrom

[2015-12-26 15:55] eengstrom commented on #65
I'm fine with that, but did you also look at the comment I posted in the pull request #52?  Reposting here:

Ok, so how about [ConfigParser](https://docs.python.org/2/library/configparser.html) ([example here](https://wiki.python.org/moin/ConfigParserExamples)).  That way you get comments and interpolation of values, but not full conditional/code execution.  You also get the simplicity of JSON w/o

[2016-01-10 07:52] tomreece opened #67 "Add a buffer for min_value before attempting send"
Currently Pucauto accepts a bundle if the recipient has `points > min_value`.

Make it `points > min_value + BUFFER`.

[2016-01-10 14:44] eengstrom commented on #67
Would this be an attempt to ensure that the recipient's points aren't all used up before Pucauto gets to send all of our matching cards?        I'm not sure I would use that feature, so can the `buffer` be a config option?

[2016-01-11 17:37] tomreece commented on #67
@eengstrom Yes, the goal is to ensure min_value is met in case some cards are grabbed by other users. I'm not sure what buffer value should be, but it will be configurable and optional.

[2016-01-14 04:17] tomreece opened #68 "Add config for running Pucauto behind a proxy"
A user named Geoff needed to run Pucauto behind a proxy, figured out how to do it on his own, and sent me the following code snippet of his solution. Make this a configurable option.

[code]

[2016-01-15 17:06] isutrumpet opened #69 "Temp Directory Filled Up"
I have noticed on my Win7 VM that my C:\Users\[USER]\AppData\Local\Temp directory is being filled with sub-directories called "scoped_dir".  I have so far collected 26GB of these temp files.  After some quick research, I believe it may be related to this issue:

http://stackoverflow.com/questions/18686999/chromedriver-chrome-filling-up-system-temp-folder

I don't see this as a super high priority

[2016-01-19 03:10] tomreece commented on #69
@isutrumpet Thanks for the report. I have noticed this happening on my VM as well. I have to occasionally clear out the /tmp folder.

I'll work on a change soon that either ensures `driver.quit()` is called or ideally find a way to use the same tmp cache for every run of the bot instead of a new one for each run.

[2016-01-20 14:22] twilightwolf90 opened #70 "Higher Bundle Value than Member Points"
It was actually a little harder to track down a common bug I was having.  I kept having pucauto attempt to send more cards than the member had points in a bundle trade.  The missing lines of logic to add a check that the bundle trade is less than the member's available points would fit somewhere around 330 in pucauto.py.  I can't fork and pull today, because I have class all day.

For example, (on

[2016-01-26 03:23] ghost commented on #62
Should this issue be closed now since the following is on the pucauto site under the "Let Us Run It For You" page?

"""
Pucauto's hosted solution has been shut down by PucaTrade.

According to their new rules, you are still allowed to run Pucauto yourself but I cannot host it for you. If you want help setting up Pucauto on your own machine, contact me and I'd be glad to help. Or if you're a bit mo

[2016-01-26 03:51] spam8117 opened #72 "Cloud Server Setup follow-up"
Hello Tom,
I finally got some time to try out the setup on my seedbox (or raspberry):
https://github.com/tomreece/pucauto/wiki/Cloud-Server-Setup

I ran into some issues, maybe you can help out with some of them :)
1) Seems like Firefox is not possible to install on my distribution, so I needed to install Iceweasel (shouldn't change anything, right?)
2) I did everything until Step 13, but it seems

[2016-01-26 04:30] spam8117 commented on #72
Edit: Selenium and Iceweasel seem to work, because if I try this little python script I get the correct output:

from selenium import webdriver
from pyvirtualdisplay import Display

#create virtual display
display = Display(visible=0, size=(800, 600))
display.start()

#make a firefox-instance
browser = webdriver.Firefox()

#open url
browser.get('https://www.smart-itler.de')

print browser.title

[2016-01-26 23:59] tomreece commented on #62
@RobertVBolton I was going to remove the page completely, but part of me likes keeping it around because I think it was a good service and am sad PucaTrade put a stop to it. :cry:

[2016-01-27 00:06] tomreece commented on #72
@spam8117 The first error `UnexpectedAlertPresentException` is interesting. That makes it sound like when your Iceweasel instance is fired up an alert is present or something unexpected.

Are you 100% sure you started `Xvfb :99 -ac &` and `export DISPLAY=:99` before starting the `./startup.sh` script?

Tell me more about the environment you're trying to run this in and I'll try to reproduce it. It

[2016-02-13 22:04] tomreece commented on #72
@spam8117 Any news here? I'd like to try to reproduce but need to know more about your environment.

[2016-02-13 22:07] tomreece commented on #70
Pucauto doesn't worry about X > Z. Pucauto wants X > min_value and Z > min_value where min_value comes from the config file.

So yes, it sometimes finds larger bundles that it couldn't possibly accept all of, but it will accept the highest value cards first and hopefully create a bundle > min_value.

Does this make sense?

[2016-02-13 22:08] #70 closed

[2016-02-13 22:09] tomreece commented on #69
Closing this. It's a duplicate of #64

[2016-02-13 22:09] #69 closed

[2016-02-14 23:35] xeroiv commented on #45
Just wanted to report that this bug is still happening.  Dont know if there is anything we could do on this end to lessen the chance of this happening.  I've had to open quite a few cases as of late.

[2016-02-15 02:55] tomreece commented on #45
I've reproduced it manually, posted about it on Reddit, and reported it to PucaTrade:

https://www.reddit.com/r/PucaTrade/comments/4570l8/duplicate_rows_on_the_send_cards_page_even_with/

[2016-02-15 15:32] tomreece opened #73 "Add a config flag run in add-on finding mode only"
This was suggested by Brad:

[2016-02-15 15:40] eengstrom commented on #73
I second that. Would be willing to work on it as well.  Pretty trivial, especially in the update (#66) I provided, but I'm not sure the status of that yet.

[2016-02-24 16:00] DaxCommando opened #74 "Configuration Issue"
I'm trying to install on Windows and am having an issue right out of the gate.  I've downloaded python and checked the box to add it to Path.

My problem is that when I open the command window and try to run the command 'python...' i receive the message stating it isnt recognized.
I admit that this is my first time trying to use python or command windows as I'm not very computer or prgramming savv

[2016-02-25 02:12] tomreece commented on #74
Are you able to try to install Python again and take a screenshot of the box you're checking? I remember it being a bit hidden. If I remember correctly there is an "advanced" install mode and you can select extra stuff to install/configure, and it's one hiding in that list.

[2016-02-26 13:51] DaxCommando commented on #74
Thank you for the help!

Here are 2 screenshots, the first showing how I'm installing python, and
the second showing the message I am receiving when I type the command into
the command window.

On Wed, Feb 24, 2016 at 9:12 PM, Tom Reece notifications@github.com wrote:

[2016-02-27 23:51] Nakroma opened #75 "Bot crashing after a few minutes of running"
Hey,
After a short span of time (usually 3-5 minutes) the bot suddenly crashes. This happens everytime.
In case it matters, pucatrade.com/trades/active is the site where the firefox window is at everytime the crash happens.

Here is the log from the console:

`Traceback (most recent call last):
  File "pucauto.py", line 392, in <module>
    find_trades()
  File "pucauto.py", line 355, in find_trad

[2016-02-28 19:07] #75 closed

[2016-02-29 16:16] tomreece commented on #74
It doesn't look like your screenshots made it over with the reply to the email. You can send them to me at tomreece@gmail.com or add them directly to the GitHub issue.

[2016-03-01 23:31] tomreece opened #77 "Bot crashes when encountering username with Unicode characters"
![pucauto-unicode](https://cloud.githubusercontent.com/assets/2057871/13445704/61644dc0-dfd3-11e5-97ef-bbb966e68d41.png)

[2016-03-01 23:38] #77 closed

[2016-03-02 00:52] tomreece opened #78 "Send out a newsletter about v0.4.4 release"
I ran out of time to do this before going to Tuesday night Magic. This issue will remind me! This is important mostly due to the Unicode character crash.

[2016-03-02 11:56] tpblaster opened #79 "Error: ImportError: No module named six"
For some reason when I try to start Pucauto on my Mac it shows this:

Traceback (most recent call last):
  File "pucauto.py", line 7, in <module>
    import six
ImportError: No module named six

I am in the right folder and have put in my username and password and renamed the file. What could be the problem? I am a bit of a noob at this so a simple answer would be apreciated.

Thanks

[2016-03-02 17:49] tomreece commented on #79
Have you ran `sudo pip install -r requirements.txt`? Run this from a Terminal window while inside the Pucauto directory. This installs the proper dependency libraries that Pucauto needs to run.

[2016-03-02 20:26] tpblaster commented on #79
For some reason I am still getting the same error:

Traceback (most recent call last):
  File "pucauto.py", line 7, in <module>
    import six
ImportError: No module named six

When I run 'sudo pip install -r requirements.txt' this is what comes next:

The directory '/Users/xxxxx/Library/Caches/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Plea

[2016-03-02 23:21] tomreece commented on #79
Try `sudo -H pip install -r requirements.txt`

[2016-03-03 01:13] tpblaster commented on #79
Now I am getting this error:

Traceback (most recent call last):
  File "pucauto.py", line 15, in <module>
    CONFIG = json.load(config)
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/**init**.py", line 291, in load
    **kw)
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/json/**init**.py", line 339, in loads
    return _default_decoder.decod

[2016-03-03 05:35] tomreece commented on #79
So we're getting closer. I suspect you used TextEdit to modify your config.json. TextEdit turns quotes `"` into Smart Quotes which is not valid JSON. Delete your config.json file and start with config.example.json again and do this:

![smart-quotes](https://cloud.githubusercontent.com/assets/2057871/13485611/556bd3b0-e0cf-11e5-97f5-399adbca5a33.png)

or use a text editor like Sublime Text 2.

This

[2016-03-03 05:39] tomreece commented on #78
Done: http://us12.campaign-archive1.com/?u=6aaff11e37cb5f1751d3b5be3&id=6a76b2b9db

[2016-03-03 05:39] #78 closed

[2016-03-03 05:40] tomreece commented on #74
Hey @DaxCommando, I haven't heard back from you. See my previous comment, it looks like the screenshots didn't come through when you replied via email. If you want some personal assistance getting Pucauto setup, email me at tomreece@gmail.com and I'd be glad to help you. Closing this issue.

[2016-03-03 05:40] #74 closed

[2016-03-03 05:41] tomreece commented on #72
@spam8117 I haven't heard back from you so I'm closing this issue. Will reopen if necessary. :smile:

[2016-03-03 05:41] #72 closed

[2016-03-03 10:19] tpblaster commented on #79
Thanks for all the help I am now up and running!

[2016-03-03 14:39] #79 closed

[2016-03-03 15:31] tomreece commented on #79
Awesome! Let me know if you have any more problems or feature requests.

[2016-03-10 03:09] tomreece opened #82 "Bundle Pucauto up as something users can just double click to start without the setup"
Installing Python an dependencies and stuff is more complicated than a majority of people are accustomed to. Surely I can make this easier for folks.

[2016-03-23 03:43] tomreece opened #83 "Crash shortly after startup on Windows with Firefox 45.0.1"
[code]

This can be fixed by running `python -m pip install selenium --upgrade` in cmd.

I'm not sure if it's happening in other environments or not. I'll look into it and perhaps:

- Update the version of selenium in requirements.txt and release a new version of Pucauto
- Send out a newsletter

[2016-03-23 04:14] tomreece commented on #83
This is fixed by f9b6cc14488626a368825fda4fff62ed53a06270 and is available in the latest release, v0.4.5, but I'll leave the issue open for a little while in case you find your way here and are looking for a fix.

[2016-04-09 05:07] Wizard37 commented on #64
http://stackoverflow.com/questions/22685755/retaining-cache-in-firefox-and-chrome-browser-selenium-webdriver

This may be easier than we think. I can just point it to an existing profile. I wanted to tinker with this myself but I'm not super-comfortable with it.

[2016-04-13 22:57] tomreece commented on #45
This doesn't seem to be happening anymore. I believe PucaTrade fixed the issue on their end.

[2016-04-13 22:57] #45 closed

[2016-04-13 22:59] tomreece commented on #56
Fixed by https://github.com/tomreece/pucauto/pull/76 which has been merged.

[2016-04-13 22:59] #56 closed

[2016-04-26 15:55] XVicarious opened #84 "Pucauto Commits to Send Copies You Don't Have"
There isn't much I can do to prove or show this happening (as it always happens while I'm away or not looking), but Pucauto will commit to send multiple copies of cards I don't have.

For example last week it commit to send someone two copies of the new Olivia to someone even though my haves list only had one copy on it.  The same thing happened with a copy of Shard Volley.

The output tells me it

[2016-04-26 16:17] eengstrom commented on #84
I have seen this several times, but it's not a PucAuto problem.  I have confirmed that this occurs with other tools (e.g. PucaPower), and I've also seen it when manually looking at the trades page on PucaTrade without any other tool support.  I've seen it in Firefox and in Chrome too.  I've even submitted the bug to PucaTrade.   I think it's entirely in the AutoMatch feature with a possible intera

[2016-04-26 21:36] tomreece commented on #84
This problem comes and goes, and I truly believe it is on PucaTrade's end. I too have seen it on the Send Cards page when using it manually without using any sort of bot or tool.

[2016-04-27 17:26] XVicarious commented on #84
I figured it out.  I went to the send cards page, loaded up everything and ran the following Javascript:

`$('table tr').each(function(){
    console.log($(this).attr('id'));
});`

I then sorted, created a copy, and removed any duplicate lines.  There was one.  So basically, cards that have been duplicated by PucaTrade's DataTables code will have the same ID attribute on the row.  So all that need

[2016-04-29 19:20] tomreece commented on #84
Awesome. I'll get an extra check in for this ASAP to fix their problem.

[2016-05-11 04:41] tomreece opened #86 "member_points is occasionally None in build_trades_dict"
This crash occurs every so often. Not sure what would be causing this to be `None`.

[code]

[2016-05-21 15:39] XVicarious commented on #84
Any word on this?  If you are busy I might be able to find the time to do this today.

EDIT: I am working on this now.  Almost done.

[2016-05-21 17:32] XVicarious commented on #84
I'm dumb and don't know how to rebase apparently.  Or reference.  Or branch.  Silly me pull request 87.

[2016-05-27 14:40] xeroiv commented on #86
I am occasionally receiving this error as well.

[2016-06-14 01:59] #83 closed

[2016-06-14 02:00] tomreece opened #88 "Crash after startup when using Firefox 47"
I sent out the following email to newsletter subscribers describing the issue:

Hey trader,

Is Pucauto crashing on startup for you?

Firefox version 47 was recently released. There is a known issue with Selenium, the library Pucauto uses to drive the browser, and the new version of Firefox.

If you're interested in the technical discussion of this issue, you can read more at https://github.com/Se

[2016-06-14 02:13] tomreece opened #89 "Add a News section to pucauto.com"
Pucauto.com's landing page should be a "News" section which includes any important information such as the recent Firefox 47 issue. This will help people out as they may not be accustomed to checking Github Issues when stuff like this happens or they may not be subscribed to the newsletter.

[2016-06-18 13:47] drakeblood4 commented on #84
Hey, I found another source of puca double commits. When scrolling, Puca will occasionally load additional copies of a card you don't have enough of from a user right along the scroll border. I haven't found any way to fix this without using the export feature available to Uncommon users, but I figured this might be useful.

[2016-07-17 21:35] tomreece opened #90 "Add a user whitelist config to send any trades to those users"
Requested by Cameron T on Twitter.

This would allow users to add PucaTrade user id's to a config variable and would send any trades to those users regardless of value. Use case = add anyone from your local card shop to the config list and then hand deliver the cards.

[2016-07-17 21:38] tomreece commented on #88
Firefox 47.0.1 was released, at least for Mac. Doesn't appear to be on Ubuntu yet. Now everything works fine as long as you're on Firefox 47.0.1 and Selenium is updated via:

`sudo pip install selenium --upgrade`

[2016-07-17 21:38] #88 closed

[2016-07-25 02:26] tomreece opened #91 "Crash if user does not have enough points to pay for PucaShield Insurance"
When a user does not have enough points to pay for PucaShield insurance for a card, Pucauto will crash with the following Exception:

[code]

...because the checkbox does not appear on the page. It's probably replaced with a message that says Not enough points to insure this card or something.

[2016-07-25 02:41] #91 closed

[2016-08-04 12:51] xeroiv commented on #86
I still get this error.  It appears to crash every night sometime between 12:30 AM and 3 AM since I have upgraded to 0.4.9

[2016-08-05 18:37] lmjamie commented on #86
This is an almost constant problem. I am lucky if it does not crash overnight due to this issue. Has been for a while

[2016-08-19 02:27] tomreece opened #92 "Pucauto does not work with Firefox 48"
If you're using Firefox 48, you will receive the following error when starting up Pucauto:

`selenium.common.exceptions.WebDriverException: Message: Can't load the profile.`

Currently the only solution to this is to downgrade to Firefox 47.0.1 which you can download here...

Mac: https://ftp.mozilla.org/pub/firefox/releases/47.0.1/mac/en-US/Firefox%2047.0.1.dmg

Windows: https://ftp.mozilla.org/p

[2016-08-19 02:50] tomreece opened #93 "Make logging configurable"
Users have reported either:

a) not liking the datetime in the log output

or

b) not wanting log output at all

Make this configurable via `config.json`

[2017-07-07 11:17] estevopaz commented on #72
Hi, I have the same problem.
It works fine but when the server is CPU overloaded, it crash in same way.
I understand that there is some kind of timeout, how can be modified ?

I answer to myself:

    selenium.webdriver.Firefox(
        firefox_profile=None,
        firefox_binary=None,
        timeout=30,
        capabilities=None,
        proxy=None,
        executable_path='wires',
        fire